<aside id="sidebar">
    <div id="sidebar-menu">
        <ul class="nav sidebar-nav">
            <li>
                <a href="@Url.Action("ListAll", "ProjectTasks")" >
                    <span class="glyphicon glyphicon-tasks"></span>
                    <span class="sidebar-title">Project Tasks</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("ListDocuments", "Projects")">
                    <span class="glyphicon glyphicon-book"></span>
                    <span class="sidebar-title">Project Documents</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("ListAll", "Incidents")">
                    <span class="glyphicon glyphicon-settings"></span>
                    <span class="sidebar-title">Incident</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("ListAll", "Issues")">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="sidebar-title">Issue Tracker</span>
                </a>
            </li>
            <li>
                 <a href="@Url.Action("ListAll", "ChangeRequests")">
                    <span class='glyphicon glyphicon-star'></span>
                    <span class='sidebar-title'>Change Requests</span>
                </a>
            </li>
            <li>
               <a href="@Url.Action("ListAll", "ServiceRequests")">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="sidebar-title">Service Requests</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
